# Learning API
LEARNING_ENVIRONMENT=dev
LEARNING_DATABASE_URL=postgresql+asyncpg://intellichoice:intellichoice@localhost:5432/intellichoice
LEARNING_MYSQL_URL=mysql+aiomysql://intellichoice:intellichoice@localhost:3306

# Q&A (chat) API
CHAT_ENVIRONMENT=dev
CHAT_DATABASE_URL=postgresql+asyncpg://intellichoice:intellichoice@localhost:5432/intellichoice
CHAT_MYSQL_URL=mysql+aiomysql://intellichoice:intellichoice@localhost:3306
